//.pages/second/second.wxs

var foo = "'hello' from second.wxs"

var bar = function(d){
  return d
}

//var tools = require('.tool.wxs')

module.exports = {
  FOO : foo,
  BAR : bar,
}

//module.exports.msg = "some msg"

var a = 1
var b = 2
var c = "Str"

//方法1
function add(x, y){
  return x+y
}

//方法2
var result = function(x, y){
  return x+y
}

function printTypeOf(){
  var number = 10;
  var boolean = true;
  var object = {};
  var func = function () { };
  var array = [];
  var date = getDate();
  var regexp = getRegExp();

  console.log('number' === typeof number);
  console.log('boolean' === typeof boolean);
  console.log('object' === typeof object);
  console.log('function' === typeof func);
  console.log('object' === typeof array);
  console.log('object' === typeof date);
  console.log('object' === typeof regexp);

  console.log('undefined' === typeof undefined);
  console.log('object' === typeof null);
}

//单行注释
/*
 多行注释 
 */

/*
  从注释起始位置到结尾注释

  var d = 123 这里也被注释了